<div class="def-preloader">
    <div class="SPW">
        <div
            *ngFor="let a of spinnerList; let i = index"
            class="sp"
            [ngClass]="{
                'SP_0': i === 0,
                'SP_1': i === 1,
                'SP_2': i === 2,
                'SP_3': i === 3,
                'SP_4': i === 4,
                'SP_5': i === 5,
                'SP_6': i === 6,
                'SP_7': i === 7,
                'SP_8': i === 8,
                'SP_9': i === 9,
                'SP_10': i === 10,
                'SP_11': i === 11,
                'SP_12': i === 12,
                'SP_13': i === 13
                    }"
                >
        </div>
    </div>
</div>
