#aboutus {

    .thesis {
        color: @black;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .heading-block {
        max-height: 1030px;
        padding-bottom: 0;

        .heading-title {
            padding: 95px 60px;
            transition: padding 100ms ease;

            @media @lsmscreen {
                padding: 75px 20px;
            }

            @media @xsscreen {
                padding: 40px 25px 25px;
            }
        }

        @media @lsmscreen {
            margin: 0 -15px 60px;
        }

        @media @xsscreen {
            padding-bottom: 55px;
        }

        .heading-about {
            background-color: @white;
            overflow: hidden;
            max-height: 590px;

            .theses-wrapper {
                width: 52%;
                padding: 40px 65px;

                :last-child {
                    margin-bottom: 0;
                }

                @media (max-width: @desktop-hd-point) {
                    padding: 30px 60px;
                }

                @media @mdscreen {
                    padding: 15px 60px;
                    width: 55%;

                    :first-child {
                        margin-bottom: 0;
                    }
                }

                @media @lsmscreen {
                    padding: 10px 40px;
                }
            }
        }
    }

    .picture-rectangle {
        &:before {
            content: '';
            position: absolute;
            right: 52%;
            top: 0;
            background-image: url('@{assets-folder}/images/pages/about-us/heading-bg.png');
            background-size: auto 100%;
            background-position: center;
            left: -135px;
            height: 100%;
            transition: width 100ms ease;

            @media @mdscreen {
                right: 55%;
            }

            @media @lsmscreen {
                right: 55%;
            }

            @media @mobile-point {
                right: 55%;
            }

            @media @xsscreen {
                right: 55%;
                left: -20px;
            }
        }
    }

    .hidden-theses{
        display: none;

        @media (max-width: @desktop-hd-point) {
            display: block;
            margin-bottom: 60px;
        }

        @media @lsmscreen {
            margin-bottom: 30px;
        }

        @media @xsscreen {
            margin-bottom: 0;

        }
    }

    .advantages {
        margin-bottom: 70px;

        @media @mdscreen {

                .list-unstyled {
                    // bring url's to html and set here styles to show bg on md as max
                    li:first-child {
                        .advantage-picture-wrapper {
                            background-image: url('@{assets-folder}/images/pages/about-us/advantage1-md.png');
                        }
                    }

                    li:not(:first-child):not(:last-child) {
                        .advantage-picture-wrapper {
                            background-image: url('@{assets-folder}/images/pages/about-us/advantage2-md.png');
                        }
                    }

                    li:last-child {
                        .advantage-picture-wrapper {
                            background-image: url('@{assets-folder}/images/pages/about-us/advantage3-md.png')
                        }
                    }
                }
        }

        .advantage {

            .advantage-picture-wrapper {
                height: 260px;
                text-align: center;
                overflow: hidden;

                .advantage-picture {
                    height: 100%;
                    max-width: 100%;
                }

                @media @mdscreen {
                    background-size: 100% auto;
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 280px;
                    margin-bottom: 60px;

                    .advantage-picture {
                        display: none;
                    }
                }

                @media @lsmscreen {
                    height: 220px;
                    margin-bottom: 40px;
                }

                @media @xsscreen {
                    height: 200px;
                    margin-bottom: 30px;
                }

                @media @xxsscreen {
                    height: 150px;
                    margin-bottom: 15px;
                }
            }

            .advantage-description {
                padding: 30px 40px 44px 25px;
                background-color: @white;
                position: relative;

                .advantage-headline {
                    font-size: 24px;
                    line-height: 1.3;
                    color: @black;
                    padding-bottom: 20px;
                    strong {
                        font-weight: 600;
                    }
                }

                .description {
                    position: relative;
                    font-size: 15px;
                    max-height: 300px;
                    overflow: hidden;
                }

                @media (max-width: @desktop-hd-point) {

                    min-height: 532px;

                    .description {
                        max-height: 330px;
                        height: 330px;
                        position: absolute;
                        bottom: 20px;
                        width: 225px;
                    }
                }

                @media @mdscreen {
                    min-height: auto;

                    .description {
                        max-height: none;
                        height: auto;
                        position: relative;
                        bottom: 0;
                        width: auto;
                    }
                }

                @media @lsmscreen {
                    padding: 10px 30px 30px;
                    margin: 0 60px 60px;
                }

                @media @lsmscreen {
                    padding: 10px 5px 30px;
                    margin: 0 0 30px 0;
                }
            }
        }
    }
    // changing margin-bottom due to unique layout
    .grey-headline {
        margin-bottom: -0.6em;
    }

    .team-leaders {
        &.team-leaders-small-grid {
            .row {
                .row-gutter(5px);
            }
        }
        .col-12 {

            .business-card {
                max-height: 100%;
                overflow: hidden;

                .name {
                    display: block;
                    font-size: 22px;
                    line-height: 1.2;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .position {
                    line-height: 1.2;
                    padding-bottom: 20px;
                }

                @media (max-width: 1200px) {
                    .name {
                        font-size: 18px;
                    }
                    .position {
                        font-size: 14px;
                    }
                }

                @media @mdscreen {
                    .name {
                        font-size: 30px;
                    }

                    .position {
                        //line-height: 1.2;
                        font-size: 18px;
                    }
                }

                @media @xsscreen {
                    .name {
                        font-size: 25px;
                    }

                    .position {
                        //line-height: 1.2;
                        font-size: 16px;
                    }
                }

                @media (max-width: 480px) {


                    .name {
                        font-size: 18px;
                    }

                    .position {
                        font-size: 15px;
                    }
                }

            }

            .horizontal {
                background-color: @white;
                border: @lines-grey solid 1px;
                //height: 160px;
                margin-bottom: 5px;
                margin-top: 5px;
                position: relative;

                .row {
                    height: 100%;
                    .col-md-12 {
                        height: 100%;
                    }
                }

                img {
                    height: 100%;
                    width: auto;
                }

                .business-card {
                    height: 100%;
                    padding: 20px 10px 20px 0;
                    //margin-left: -15px;
                    //width: calc(100% + 15px);
                }

                @media (min-width: 992px) {
                    .business-card {
                        margin-left: -10px;
                    }

                    &.reverse {
                        .business-card {
                            padding-left: 20px;
                        }
                    }
                }

                @media (max-width: @desktop-hd-point) {
                    //height: 129.98px;
                }

                @media @mdscreen {
                    .business-card {
                        padding: 20px 10px 20px 10px;
                    }
                }

                @media @lsmscreen {
                }

                @media (max-width: 480px) {
                    .business-card {
                        padding: 10px 10px 20px 0;
                    }
                    &.reverse, &.reverse {
                        .business-card {
                            padding-left: 10px;
                        }
                    }
                }

                @media @xsscreen {
                }
            }

            .vertical {
                position: relative;
                background-color: @white;
                border: @lines-grey solid 1px;
                //height: 350px;
                margin-bottom: 5px;
                margin-top: 5px;

                .row {
                    height: 50%;

                    .col-md-12 {
                        height: 100%;
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                }

                .business-card {
                    width: 100%;
                    height: 100%;
                    padding: 20px 10px 20px 20px;
                }

                &.reverse {
                    img {
                        //float: right;
                        //margin-top: 50%;
                        position: absolute;
                        bottom: 0;
                        width: calc(100% - 10px);
                    }
                }

                &:not(.reverse) {
                    .business-card {
                        padding: 5px 10px 20px 20px;
                    }
                }

                @media @lgscreen {

                }

                @media (max-width: @desktop-hd-point) {
                    //height: 289.98px;
                }

                @media @mdscreen {
                    .business-card {
                        padding: 20px 10px 20px 10px;
                    }
                }

                @media @lsmscreen {
                    .business-card {
                        padding: 20px 10px 20px 10px;
                    }
                }

                @media @xsscreen {

                }

                @media @xxsscreen {

                }
            }
        }
    }
}
