#case-page {
    // need set overflow hidden to prevent mistakes from grey
    overflow: hidden;

    h2 {
        line-height: 1.2;
    }

    .case-wrapper {
        position: relative;
        // indent on mobile corresponding to design
        padding-top: 40px;
        .row {
            margin-bottom: 70px;
        }
        @media @lsmscreen {
            padding-top: 24px;
            // fix content and header align on small desktop
            margin: 0 -15px;
            width: calc(100% + 30px);
        }
        .heading-case-img {
            width: 100%;
            object-fit: cover;
            height: 505px;
            @media ( max-width: 1199px ) {
                height: 376px;
            }
            @media @lsmscreen {
                height: 247px;
            }
        }
        .heading-case-description {
            background-color: @white;
            padding: 30px 91px 26px 51px;
            position: absolute;
            right: 0;
            max-width: 77%;
            @media @lgscreen {
                padding: 30px 35px 26px;
                max-width: 49%;
                top: 267px;
            }
            @media ( max-width: 1199px ) {
                top: 240px;
            }
            @media ( max-width: 991px ) {
                top: 210px;
            }
            @media @lsmscreen {
                position: static;
                max-width: 100%;
                padding: 28px 16px;
            }
            .heading-case-subscription {
                display: block;
                line-height: normal;
                font-size: 16px;
                color: @malachite;
            }
        }
        .heading-case-size {
            padding-bottom: 50px;
            @media ( max-width: 1199px ) {
                padding-bottom: 134px;
            }
            @media (max-width: 991px) {
                padding-bottom: 170px;
            }
        }
        .case-content {
            background-color: @white;
            padding: 29px 99px 44px;
            border: 2px solid @lightest-grey;
            &.hide-border {
                border: 2px solid transparent;
            }
            @media @lsmscreen {
                padding: 33px 16px;
            }

            p {
                white-space: pre-line;
                line-height: 2;
            }

            .dft-list-premise {
                display: inline-block;
                margin-bottom: 10px;
                white-space: pre-line;
                line-height: 2;
            }

            .dft-li-text {
                font-size: 15px;
                white-space: pre-line;
            }
        }

        .technologies {
            display: grid;
            grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
            justify-items: center;
            align-items: center;

            dd {
                margin-bottom: 0;
            }

            @media @lsmscreen {
                grid-template-columns: 20% 20% 20% 20% 20%;
            }

            @media @xsscreen {
                grid-template-columns: 25% 25% 25% 25%;
            }

            @media @xxsscreen {
                display: flex;
                text-align: center;
                justify-content: center;
            }
        }
    }

    .grey-rectangle {
        &:before {
            // set background size corresponding to design for big desktops
            height: 600px;
        }
    }
}
