@dft-thoughts-page-transition: all ease 250ms;

#home {
    position: relative;
    @dft-cases-transition-behavior: 500ms ease-out;
    overflow: hidden;
    // background colors for case content on hover
    @hover-turquoise-bg: #00B3E4;
    @hover-green-bg: #20c997;
    @hover-orange-bg: #fd7e14;
    @hover-purple-bg: #9c27b0;
    @hover-red-bg: #9c27b0;
    @hover-blue-bg: cornflowerblue;

    .heading-wrapper {
        @media @lgscreen {
            padding: 170px 50px;
        }
    }

    .heading-block {
        .heading-title {
            min-height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 0;
            padding-bottom: 0;
            @media @lsmscreen {
                min-height: 300px;
            }
            @media @xxsscreen {
                min-height: 250px;
            }
        }
    }

    .cases-list {
        // indent on mobile corresponding to design
        @media @lsmscreen {
            padding-top: 60px;
            // fix content and header align on small desktop
            margin: 0 -15px;
            width: calc(100% + 30px);
        }
        .case-item {
            margin-bottom: 40px;
            overflow: hidden;
            width: 100%;

            &.last-case-item {
                margin-bottom: 0;
            }
            .case-img-block {
                display: flex;
                justify-content: center;
                overflow: hidden;
                height: 376px;
                width: 100%;

                @media @lsmscreen {
                    height: 247px;
                }
            }
            .case-img {
                // set fixed height corresponding to design
                //height: 376px;
                flex: none;
                max-width: none;
                width: auto;

                @media @lsmscreen {
                    height: 247px;
                }

            }
            .case-content {
                background-color: @white;
                // set content over image on hover
                position: relative;
                z-index: 1;
                .transition(@dft-cases-transition-behavior);
                // on this view segment we implement case content wrapper animation
                @media @lsmscreen and (min-width: 576px) {
                    &:before {
                        content: "";
                        position: absolute;
                        top: -14px;
                        right: 0;
                        border-width: 14px 0 0 14px;
                        border-style: solid;
                        border-color: transparent #000;
                        .transition(@dft-cases-transition-behavior);
                        .opacity(0);
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        top: -14px;
                        left: 0;
                        border-width: 14px 14px 0 0;
                        border-style: solid;
                        border-color: transparent #000;
                        .transition(@dft-cases-transition-behavior);
                        .opacity(0);
                    }
                }
                // indent on mobile corresponding to design
                @media @lsmscreen {
                    > p {
                        padding-bottom: 70px !important;
                    }
                }
                &.case-content-medium {
                    padding: 30px 21px 38px;
                    // set indent on mobile corresponding to design
                    @media @lsmscreen {
                        padding: 30px 14px 38px;
                    }
                    &.case-content-medium-reversed {
                        padding: 20px 27px;
                    }
                }
                &.case-content-wider {
                    padding: 20px 27px;
                    // set indent on mobile corresponding to design
                    @media @lsmscreen {
                        padding: 30px 14px 38px;
                    }
                }
                // compressing content corresponding to design
                &.compresed-case-content {
                    max-width: 75%;
                    @media ( max-width: 1199px ) {
                        max-width: 95%;
                    }
                    @media @lsmscreen {
                        max-width: 100%;
                    }
                }
                &.case-content-small {
                    padding: 18px 27px;
                    // set indent on mobile corresponding to design
                    @media @lsmscreen {
                        padding: 30px 14px 38px;
                    }
                }
                .case-content-line:after {
                    display: block;
                    width: 103px;
                    content: '';
                    border-bottom: 3px solid black;
                    @media @lsmscreen {
                        padding-bottom: 40px;
                    }
                }
            }
            &:hover {
                .case-content {
                    &.hover-turquoise-bg {
                        background-color: @hover-turquoise-bg;
                    }
                    &.hover-green-bg {
                        background-color: @hover-green-bg;
                    }
                    &.hover-orange-bg {
                        background-color: @hover-orange-bg;
                    }
                    &.hover-purple-bg {
                        background-color: @hover-purple-bg;
                    }
                    &.hover-red-bg {
                        background-color: @hover-red-bg;
                    }
                    &.hover-blue-bg {
                        background-color: @hover-blue-bg;
                    }
                    color: @white;
                    .transition(@dft-cases-transition-behavior);
                    transform: translateX(-29%);
                    @media @lsmscreen {
                        transform: translateY(-20%);
                    }
                    // overwrite default color
                    h2 {
                        color: @white;
                    }

                    // animate wrapper effect on sm screen
                    @media @lsmscreen and (min-width: 576px) {
                        &:before, &:after {
                            .transition(@dft-cases-transition-behavior);
                            .opacity(0.6);
                        }
                    }
                    // set white color of line under case content
                    .case-content-line:after {
                        border-bottom: 3px solid white;
                    }
                    &.move-right {
                        transform: translateX(29%);
                        @media @lsmscreen {
                            transform: translateY(-20%);
                        }
                    }
                    &.move-bottom {
                        @media ( min-width: 1199px ) {
                            transform: translateY(45%) !important;
                        }
                        // fix transform behavior on interval between 991px and 1199px
                        @media ( max-width: 1199px ) and ( min-width: 991px ) {
                            transform: translateY(45%) !important;
                        }
                        // fix transform behavior on 992px
                        @media ( max-width: 991px ) {
                            transform: translateX(25%) !important;
                        }
                        @media @lsmscreen {
                            transform: translateY(-20%) !important;
                        }
                    }
                    &.move-top {
                        @media ( min-width: 1199px ) {
                            transform: translateY(-45%) !important;
                        }
                        // fix transform behavior on interval between 991px and 1199px
                        @media ( max-width: 1199px ) and ( min-width: 991px ) {
                            transform: translateY(-45%) !important;
                        }
                        // fix transform behavior on 992px
                        @media ( max-width: 991px ) {
                            transform: translateX(-25%) !important;
                        }
                        @media @lsmscreen {
                            transform: translateY(-20%) !important;
                        }
                    }
                }
            }
        }
    }

    .thoughts-wrapper {
        position: relative;
        .transition(all ease 250ms);
        margin-bottom: 100px;

        @media @lsmscreen {
            margin: 0 -15px 70px;
        }

        @media @xsscreen {
            margin-bottom: 60px;
        }

        .thought {
            margin-bottom: 45px;

            .thought-title {
                height: 224px;
                width: 100%;
                overflow: hidden;
                text-align: center;

                a {
                    background-color: @white;
                    background-origin: content-box;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                        display: block;
                        width: auto;
                        height: auto;
                    }
                }

                @media @lsmscreen {
                    max-height: 212px;
                }

                @media @xsscreen {
                    max-height: 226px;
                }
            }

            .thought-description {
                min-height: 200px;
                height: auto;
                position: relative;
                padding: 30px 30px 15px 30px;
                background-color: @white;
                .transition(@dft-thoughts-page-transition);

                .description-headline {
                    font-size: 24px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 15px;
                }

                .description {
                    font-size: 16px;
                    max-height: 72px;
                    overflow: hidden;
                }

                @media @mdscreen {
                    padding: 20px 20px 15px 20px ;

                    .description {
                        position: relative;
                        overflow: hidden;
                    }

                    .description-headline {
                        margin-bottom: 10px;
                    }
                }

                @media @xsscreen {
                    margin: 0;
                    max-width: 100%;
                    width: 100%;

                    .description-headline {
                        margin-bottom: 10px;
                    }

                    .description {
                        max-height: none;
                    }
                }
            }

            &.last-thought {
                margin-bottom: 90px;

                @media @lsmscreen {
                    margin-bottom: 70px;
                }

                @media @xsscreen {
                    margin-bottom: 100px;
                }
            }
        }
    }
}
