<div id="footer">
    <div class="container">
        <div class="row footer-wrapper">
            <div class="col-md-4 footer-col">
                <h5 class="footer-col-headline">Location</h5>
                <!-- href="https://goo.gl/maps/LU4zi2fKxPL2" target="_blank" -->
                <span class="footer-link"
                        >
                    447 Battery Street, 3rd Floor<br/>
                    San Francisco, CA 94111
                </span>
            </div>
            <div class="col-md-5 footer-col">
                <h5 class="footer-col-headline">Contacts</h5>
                <span class="footer-link mobile-number">+1 (214) 736-9209</span><br>
                <a class="footer-link">contactus@dfusiontech.com</a>
            </div>
            <div class="col-md-3 footer-col">
                <h5 class="footer-col-headline">Follow us</h5>
                <a href="https://www.facebook.com/dfusiontechinc"
                   target="_blank"
                   class="social-link"
                        >
                    <i class="fa fa-facebook-f"></i>
                </a>
                <a href="https://www.linkedin.com/company/dfusion-tech"
                   target="_blank"
                   class="social-link"
                        >
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://clutch.co/profile/dfusiontech"
                   target="_blank"
                   class="social-link">
                    <i class="dft dft-clutch-logo"></i>
                </a>
            </div>
        </div>
    </div>
</div>
