<div class="container-fluid">
    <div class="row footer-wrapper">
        <div class="col-sm-4 offset-lg-1 footer-col">
            <h5 class="footer-col-headline">Location</h5>
            <a href="https://goo.gl/maps/LU4zi2fKxPL2"
               target="_blank"
               class="footer-link dft-link"
                    >
                447 Battery Street, 3rd Floor<br/>
                San Francisco, CA 94111
            </a>
        </div>
        <div class="col-sm-5 col-lg-4 footer-col">
            <h5 class="footer-col-headline">Contacts</h5>
            <a href="tel:+12147369209" class="footer-link dft-link">+1 (214) 736-9209</a><br>
            <a href="mailto:contactus@dfusiontech.com" class="footer-link dft-link">contactus@dfusiontech.com</a>
        </div>
        <div class="col-sm footer-col">
            <h5 class="footer-col-headline">Follow us</h5>
            <a href="https://www.facebook.com/dfusiontechinc"
               target="_blank"
               class="social-link"
                    >
                <i class="fa fa-facebook-f"></i>
            </a>
            <a href="https://www.linkedin.com/company/dfusion-tech"
               target="_blank"
               class="social-link"
                    >
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://clutch.co/profile/dfusiontech"
               target="_blank"
               class="social-link">
                <i class="dft dft-clutch-logo"></i>
            </a>
        </div>
    </div>
</div>
