<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-error-message *ngIf="errorOccurred" [errorResponse]="errorResponse"></app-error-message>
            <app-preloader *ngIf="!thoughtsListLoaded && !errorOccurred"></app-preloader>
            <div
                class="container"
                *ngIf="thoughtsListLoaded"
                    >
                <section class="heading-block grey-rectangle">
                    <div class="heading-title inner-img">
                        <a uiSref="thoughtsItem" title="Lincoln Center">
                            <img src="../../../assets/images/thoughts-page/heading-bg.png" alt="">
                        </a>
                    </div>
                    <div class="heading-description">
                        <h2 class="description-headline"><a uiSref="thoughtsItem" title="Lincoln Center">Lincoln Center</a></h2>
                        <p class="description">Lincoln Center - The world’s leading performing arts center. Located in the heart of New York City on a 16-acr…</p>
                        <span class="date horizontal-line m">may 4, 2018</span>
                    </div>
                </section>
                <section class="thoughts-wrapper">
                    <ul class="list-unstyled row">
                        <li class="col-lg-4 col-sm-6" *ngFor="let thought of thoughtsList">
                            <div class="thought">
                                <div class="thought-title">
                                    <a uiSref="thoughts-item"
                                       [uiParams]="{ thoughtId: thought.thoughtId }"
                                       [attr.title]="thought.title"
                                       style="background-image: url('../../../assets/images/thoughts-page/business-1.png');"
                                       [ngStyle]="{ 'background-image': 'url(' + thought.img + ')'}"
                                            >
                                    </a>
                                </div>
                                <div class="thought-description">
                                    <h3 class="description-headline">
                                        <a uiSref="thoughts-item"
                                           [uiParams]="{ thoughtId: thought.thoughtId }"
                                           [attr.title]="thought.title"
                                                >
                                            {{ thought.title }}
                                        </a>
                                    </h3>
                                    <p class="description">
                                        {{ thought.description }}
                                    </p>
                                    <span class="date horizontal-line m">
                                        {{ thought.date }}
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>

