<div id="thoughts">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div
                    data-error-message
                    *ngIf="errorOccurred"
                    [errorResponse]="errorResponse"
                        >
                </div>
                <div
                    data-preloader
                    *ngIf="!thoughtsListLoaded && !errorOccurred"
                        >
                </div>
                <div class="container"
                     *ngIf="thoughtsListLoaded && thoughtsList.length>0"
                        >
                    <section class="heading-block grey-rectangle">
                        <div class="heading-title inner-img">
                            <a
                                uiSref="thoughts-item"
                                [attr.title]="headingThought.title"
                                [uiParams]="{ thoughtId: headingThought.thoughtId }"
                                title={{headingThought.title}}
                                    >
                                <img
                                    alt={{headingThought.title}}
                                    src={{headingThought.img}}
                                        />
                            </a>
                        </div>
                        <div class="heading-description">
                            <h2 class="description-headline">
                                <a
                                    uiSref="thoughts-item"
                                    [attr.title]="headingThought.title"
                                    [uiParams]="{ thoughtId: headingThought.thoughtId }"
                                    title="Lincoln Center"
                                        >
                                    {{headingThought.title}}
                                </a>
                            </h2>
                            <p class="description">
                                {{headingThought.description}}
                            </p>
                            <span class="date horizontal-line m">{{headingThought.date}}</span>
                        </div>
                    </section>
                    <section class="thoughts-wrapper"
                             *ngIf="thoughtsList.length>1"
                            >
                        <ul class="list-unstyled row">
                            <li
                                class="col-lg-4 col-sm-6"
                                *ngFor="let thought of thoughtsList"
                                    >
                                <div class="thought">
                                    <div class="thought-title">
                                        <a
                                            uiSref="thoughts-item"
                                            [attr.title]="thought.title"
                                            [uiParams]="{ thoughtId: thought.thoughtId }"
                                            [ngStyle]="{ 'background-image': 'url(' + thought.img + ')'}"
                                            style="background-image: url('../../../assets/images/thoughts-page/business-1.png');"
                                                >
                                        </a>
                                    </div>
                                    <div class="thought-description">
                                        <h3 class="description-headline">
                                            <a
                                                uiSref="thoughts-item"
                                                [attr.title]="thought.title"
                                                [uiParams]="{ thoughtId: thought.thoughtId }"
                                                    >
                                                {{ thought.title }}
                                            </a>
                                        </h3>
                                        <p class="description">
                                            {{ thought.description }}
                                        </p>
                                        <span class="date horizontal-line m">
                                        {{ thought.date }}
                                    </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
