<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Adding grey background area on large desktops -->
            <div
                class="container"
                [ngClass]="{ 'grey-rectangle': caseXlgDesktopBehavior }"
                    >
                <div class="case-wrapper">
                    <!-- Setting place for absolutely positioned heading description content on big desktop -->
                    <div class="row" [ngClass]="{ 'heading-case-size': !caseMobileDesktopBehavior }">
                        <div class="col-12">
                            <img
                                [alt]="case.title"
                                class="heading-case-img"
                                [src]="case.headingImg"
                                #headingImg
                                    />
                        </div>
                        <!-- Changing behavior of this content on small desktops corresponding to design -->
                        <div [ngClass]="{ 'col-12': caseMobileDesktopBehavior }">
                            <div class="heading-case-description" #headingDescription>
                                <h2 class="h1 mb-2">
                                    {{ case.title }}
                                </h2>
                                <p>{{ case.wholeDescription }}</p>
                                <a
                                    class="heading-case-subscription horizontal-line l"
                                    [href]="case.projectLink"
                                    target="_blank"
                                        >
                                    {{ case.projectLinkText | lowercase }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="case-content">
                                <h2 class="mb-3">Challenge</h2>
                                <ng-container *ngFor="let section of case.challenge" [ngSwitch]="section.type">
                                    <p class="mb-4" *ngSwitchCase="'p'">{{ section.text }}</p>
                                    <ng-container *ngSwitchCase="'ol'">
                                        <span class="dft-list-premise" *ngIf="section.text">{{section.text}}</span>
                                        <ol class="dft-list mb-4">
                                            <li class="dft-li" *ngFor="let item of section.items">
                                                <span class="dft-li-text">{{item}}</span>
                                            </li>
                                        </ol>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'ul'">
                                        <span class="dft-list-premise" *ngIf="section.text">{{section.text}}</span>
                                        <ul class="dft-list mb-4">
                                            <li class="dft-li" *ngFor="let item of section.items">
                                                <span class="dft-li-text">{{item}}</span>
                                            </li>
                                        </ul>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 grey-rectangle-long">
                            <div class="position-relative">
                                <img
                                    [alt]="case.title"
                                    class="img-fluid w-100"
                                    [src]="case.firstProjectViewImg"
                                        />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Removing border corresponding to design -->
                            <div class="case-content hide-border">
                                <h2 class="mb-3">Solution</h2>
                                <ng-container *ngFor="let section of case.solution" [ngSwitch]="section.type">
                                    <p class="mb-4" *ngSwitchCase="'p'">{{ section.text }}</p>
                                    <ng-container *ngSwitchCase="'ol'">
                                        <span class="dft-list-premise" *ngIf="section.text">{{section.text}}</span>
                                        <ol class="dft-list mb-4">
                                            <li class="dft-li" *ngFor="let item of section.items">
                                                <span class="dft-li-text">{{item}}</span>
                                            </li>
                                        </ol>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'ul'">
                                        <span class="dft-list-premise" *ngIf="section.text">{{section.text}}</span>
                                        <ul class="dft-list mb-4">
                                            <li class="dft-li" *ngFor="let item of section.items">
                                                <span class="dft-li-text">{{item}}</span>
                                            </li>
                                        </ul>
                                    </ng-container>
                                </ng-container>
<!--                                <h2 class="mb-3 technologies-headline" *ngIf="case.technologyStack.length>0">Technology Stack</h2>-->
<!--                                <dl class="row technologies" *ngIf="case.technologyStack.length>0">-->
<!--                                    <dd-->
<!--                                        class="p-3"-->
<!--                                        *ngFor="let technology of case.technologyStackPaths; let i = index"-->
<!--                                            >-->
<!--                                        <img-->
<!--                                            [alt]="case.technologyStack[i]"-->
<!--                                            class="img-fluid"-->
<!--                                            [src]="technology"-->
<!--                                            [title]="case.technologyStack[i]"-->
<!--                                                />-->
<!--                                    </dd>-->
<!--                                </dl>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 grey-rectangle-long big">
                            <div class="position-relative pt-5 pb-5">
                                <img
                                    [alt]="case.title"
                                    class="img-fluid w-100"
                                    [src]="case.secondProjectViewImg"
                                        />
                            </div>
                        </div>
                    </div>
                    <div data-lets-chat></div>
                </div>
            </div>
        </div>
    </div>
</div>
