<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Adding grey background area on big desktops -->
            <div
                *ngIf="casesList"
                class="container"
                [ngClass]="{ 'grey-rectangle': !caseMobileBehavior }"
                    >
                <!-- Wrapper to fix content behavior on small desktop-->
                <div class="cases-list">
                    <ng-container *ngFor="let cases of casesList">
                        <ng-container
                            [ngSwitch]="items.type"
                            *ngFor="let items of cases.items"
                                >
                            <ng-container *ngSwitchCase="'single'">
                                <ng-container *ngFor="let caseItems of items.cols">
                                    <div
                                        class="row"
                                        *ngFor="let caseItem of caseItems.caseModels; let odd = odd; let even = even"
                                            >
                                        <div class="col-12">
                                            <a
                                                uiSref="case-page"
                                                class="d-inline-block case-item"
                                                    >
                                                <div class="row align-items-center list-unstyled">
                                                    <div
                                                        class="col-md-7 col-lg-8"
                                                        [ngClass]="{ 'order-last': !caseMobileBehavior && odd, 'order-first': caseMobileBehavior && odd }"
                                                            >
                                                        <img
                                                            class="case-img"
                                                            [src]="caseItem.img"
                                                            [alt]="caseItem.title"
                                                                >
                                                    </div>
                                                    <div class="col-md-5 col-lg-4">
                                                        <section
                                                            class="case-content case-content-medium"
                                                            [ngClass]="{
                                                                'move-right': !caseMobileBehavior && odd,
                                                                'order-last': caseMediumDesktopBehavior,
                                                                'hover-turquoise-bg':  caseItem.contentBackground === 'turquoise',
                                                                'hover-red-bg': caseItem.contentBackground === 'red',
                                                                'hover-blue-bg': caseItem.contentBackground === 'blue',
                                                                'hover-purple-bg ': caseItem.contentBackground === 'purple',
                                                                'hover-green-bg': caseItem.contentBackground === 'green',
                                                                'hover-orange-bg': caseItem.contentBackground === 'orange'
                                                                    }"
                                                                >
                                                            <h2 class="text-uppercase h3">{{ caseItem.title }}</h2>
                                                            <p class="m-0 pb-4 pt-2">{{ caseItem.description }}</p>
                                                        </section>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-container>
                                <div
                                    class="row"
                                    *ngSwitchCase="'group'"
                                        >
                                    <ng-container
                                        [ngSwitch]="caseItems.colSize"
                                        *ngFor="let caseItems of items.cols"
                                            >
                                        <ng-container>
                                            <div
                                                class="col-lg-8"
                                                *ngSwitchCase="'8'"
                                                    >
                                                <a
                                                    uiSref="case-page"
                                                    class="d-inline-block case-item"
                                                    *ngFor="let caseItem of caseItems.caseModels; let odd = odd; let even = even"
                                                        >
                                                    <div class="row align-items-center list-unstyled">
                                                        <div class="col-md-5">
                                                            <section
                                                                [ngClass]="{
                                                                    'move-right': even,
                                                                    'hover-turquoise-bg':  caseItem.contentBackground === 'turquoise',
                                                                    'hover-red-bg': caseItem.contentBackground === 'red',
                                                                    'hover-blue-bg': caseItem.contentBackground === 'blue',
                                                                    'hover-purple-bg ': caseItem.contentBackground === 'purple',
                                                                    'hover-green-bg': caseItem.contentBackground === 'green',
                                                                    'hover-orange-bg': caseItem.contentBackground === 'orange'
                                                                        }"
                                                                class="case-content move-right case-content-small hover-green-bg"
                                                                    >
                                                                <h2 class="text-uppercase h3">{{ caseItem.title }}</h2>
                                                                <p class="m-0 pb-4 pt-2">{{ caseItem.description }}</p>
                                                            </section>
                                                        </div>
                                                        <div
                                                            class="col-md-7"
                                                            [ngClass]="{ 'order-first': caseMobileBehavior || odd }"
                                                                >
                                                            <img
                                                                [src]="caseItem.img"
                                                                [alt]="caseItem.title"
                                                                class="case-img w-100"
                                                                    >
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                            <div
                                                class="col-lg-4"
                                                *ngSwitchCase="'4'"
                                                [ngClass]="{ 'd-flex align-items-end': !caseMediumDesktopBehavior }"
                                                    >
                                                <a
                                                    uiSref="case-page"
                                                    class="d-inline-block case-item"
                                                    *ngFor="let caseItem of caseItems.caseModels"
                                                        >
                                                    <div
                                                        class="row list-unstyled"
                                                        [ngClass]="{ 'align-items-center': caseMediumDesktopBehavior }"
                                                            >
                                                        <div
                                                            class="col-md-5 col-lg-12"
                                                            [ngClass]="{ 'd-flex justify-content-end': !caseMediumDesktopBehavior }"
                                                                >
                                                            <section
                                                                class="case-content compresed-case-content case-content-large move-bottom"
                                                                [ngClass]="{
                                                                    'hover-turquoise-bg':  caseItem.contentBackground === 'turquoise',
                                                                    'hover-red-bg': caseItem.contentBackground === 'red',
                                                                    'hover-blue-bg': caseItem.contentBackground === 'blue',
                                                                    'hover-purple-bg ': caseItem.contentBackground === 'purple',
                                                                    'hover-green-bg': caseItem.contentBackground === 'green',
                                                                    'hover-orange-bg': caseItem.contentBackground === 'orange'
                                                                        }"
                                                                    >
                                                                <h2 class="text-uppercase h3">{{ caseItem.title }}</h2>
                                                                <p class="m-0 pb-4 pt-2">{{ caseItem.description }}</p>
                                                            </section>
                                                        </div>
                                                        <div
                                                            class="col-md-7 col-lg-12"
                                                            [ngClass]="{ 'order-first': caseMobileBehavior }"
                                                                >
                                                            <img
                                                                [src]="caseItem.img"
                                                                [alt]="caseItem.title"
                                                                class="case-img w-100"
                                                                    >
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
                <div id="letsChat"></div>
            </div>
        </div>
    </div>
</div>
