@font-face {
  font-family: 'HKGrotesk';
  src: url('assets/fonts/grotesk/medium/HKGrotesk-Medium.eot');
  src: url('assets/fonts/grotesk/medium/HKGrotesk-Medium.woff2') format('woff2'),
       url('assets/fonts/grotesk/medium/HKGrotesk-Medium.woff') format('woff'),
       url('assets/fonts/grotesk/medium/HKGrotesk-Medium.otf') format('otf'),
       url('assets/fonts/grotesk/medium/HKGrotesk-Medium.ttf') format('ttf'),
       url('assets/fonts/grotesk/medium/HKGrotesk-Medium.svg#HKGrotesk-Medium') format('svg'),
       url('assets/fonts/grotesk/medium/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

