/* base layout behavior */
html {
    height: 100%;
    min-height: 100%;
    position: relative;

    #layout {
        margin: 0;
        // highlight place for header
        padding: @header-height 0 0 0;
        @media @lsmscreen {
            padding: @header-height-mobile 0 0 0;
        }
        min-height: 100%;
        position: relative;

        #main {

            position: relative;
            z-index: 2;
            // unknown error with ui-view display: block
            // display: block;
            // overflow: hidden;
            // NOTE alternate solution
            width: 100%;
            display: inline-block;
            // test props to separate page root components
            background: none;
            min-height: ~'calc(100vh - '@header-height + @footer-height~')';
            @media @lsmscreen {
                min-height: ~'calc(100vh - '@header-height-mobile + @footer-height~')';
            }
        }

        #footer {
            position: relative;
            z-index: 2;
        }

        .wrap-lines {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 1;
            padding: 0 1.667%;
            display: flex;
            justify-content: space-between;

            .line-bg {
                width: 1px;
                height: 100%;
                background: @lines-grey;

                @when700: ~"(min-width: 700px)";
                @when1000: ~"(min-width: 1000px)";


                &.line2 {
                    display: none;
                }
                &.line3 {
                    display: none;
                }

                &.line5 {
                    display: none;
                }
                &.line6 {
                    display: none;
                }
                &.line7 {
                    display: none;
                }
                &.line9 {
                    display: none;
                }
                &.line10 {
                    display: none;
                }
                &.line11 {
                    display: none;
                }
                &.line13 {
                    display: none;
                }
                &.line14 {
                    display: none;
                }

                &.show700 {
                    @media @when700 {
                        display: block;
                    }
                }

                &.show1000 {
                    @media @when1000 {
                        display: block;
                    }
                }
            }
        }

    }

}
