/* base layout behavior */
html {
    height: 100%;
    min-height: 100%;
    position: relative;

    #layout {
        background-image: url(../assets/images/lines.svg);
        background-position: center;
        margin: 0;
        // highlight place for header
        padding: @header-height 0 0 0;
        @media @lsmscreen {
            padding: @header-height-mobile 0 0 0;
        }
        min-height: 100%;
        position: relative;

        #main {

            position: relative;
            z-index: 2;
            // unknown error with ui-view display: block
            // display: block;
            // overflow: hidden;
            // NOTE alternate solution
            width: 100%;
            display: inline-block;
            // test props to separate page root components
            background: none;
            min-height: ~'calc(100vh - '@header-height + @footer-height~')';
            @media @lsmscreen {
                min-height: ~'calc(100vh - '@header-height-mobile + @footer-height~')';
            }
        }

        #footer {
            position: relative;
            z-index: 2;
        }

    }

}
