<div class="row">
    <div class="col-12 fff-bg text-center dft-chat-wrapper">
        <h2
            class="font-weight-bold"
            [ngClass]="{ 'h4': caseMobileBehavior }"
                >
            HAVE PROJECT FOR US?
        </h2>
        <a
            uiSref="contacts"
            class="d-inline-block btn dft-btn mx-auto chat-content"
                >
            <span class="dft-btn-label">LET'S CHAT</span>
            <div class="slider"></div>
        </a>
    </div>
</div>
