.dft-lets-chat {
    // fix align with header
    margin: 70px 15px;
    max-width: calc( 100% - 30px );
    @media @lsmscreen {
        margin: 60px 15px 76px;
    }
    .dft-chat-wrapper {
        // set offset corresponding to design
        padding: 51px;
        border: 2px solid @lightest-grey;
        .chat-content {
            margin-top: 40px;
            @media @lsmscreen {
                margin-top: 22px;
            }
        }
    }
}
