@font-face {
  font-family: 'HKGrotesk';
  src: url('assets/fonts/grotesk/light/HKGrotesk-Light.eot');
  src: url('assets/fonts/grotesk/light/HKGrotesk-Light.woff2') format('woff2'),
       url('assets/fonts/grotesk/light/HKGrotesk-Light.woff') format('woff'),
       url('assets/fonts/grotesk/light/HKGrotesk-Light.otf') format('otf'),
       url('assets/fonts/grotesk/light/HKGrotesk-Light.ttf') format('ttf'),
       url('assets/fonts/grotesk/light/HKGrotesk-Light.svg#HKGrotesk-Light') format('svg'),
       url('assets/fonts/grotesk/light/HKGrotesk-Light.eot?#iefix') format('embedded-opentype');
  font-weight: lighter;
  font-style: normal;
}

